@section Styles{
<style type="text/css">
.form-horizontal .control-label { width:60px; }
.form-horizontal .controls { margin-left:80px; }
</style>
}
<div class="header">
    <h3 class="page-title">Edit Request</h3>
</div>
<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index")">Requests</a> <span class="divider">/</span></li>
    <li class="active">Request</li>
</ul>
<div class="container-fluid">
    <div class="row-fluid">
        <form method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="txtName">Name</label>
                <div class="controls">
                  <input type="text" id="txtName" name="Name" placeholder="Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtFile1">File1</label>
                <div class="controls">
                  <input type="text" id="txtFile1" name="File1">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtFile2">File2</label>
                <div class="controls">
                  <input type="text" id="txtFile2" name="File2">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtFile3">File3</label>
                <div class="controls">
                  <input type="text" id="txtFile3" name="File3">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary" type="submit"><i class="icon-save"></i>Save</button>
                  <button class="btn" type="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
