    <div class="oe-footer">
@*		<a title="Site Map" href="/site-map.aspx" target="_self">Site Map</a><span class='pipebar'>&#160;</span>
		<a title="Terms Of Use" href="/us-en/Pages/terms-of-use.aspx" target="_self">Terms of Use</a><span class='pipebar'>&#160;</span>*@
		<span style="color:#FFFFFF;">© 2013 Accenture All Rights Reserved</span><span class='pipebar'></span>
    </div>