<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICustomerContract" transactionFlow="true" />
        <binding name="WSHttpBinding_IOrderContract" transactionFlow="true">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IOrderContract1" transactionFlow="true">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10561/Server.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICustomerContract" contract="CustomerProxy.ICustomerContract"
        name="WSHttpBinding_ICustomerContract">
        <identity>
          <userPrincipalName value="BPO104316\temp" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:10573/Server.svc" behaviorConfiguration="ClientBehavior"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderContract"
        contract="OrderProxy.IOrderContract" name="WSHttpBinding_IOrderContract">
        <identity>
          <dns value="WCFServer" />
        </identity>
      </endpoint>
      <endpoint address="http://10.202.104.167/OrderHost/Server.svc" behaviorConfiguration="ClientBehavior"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderContract1"
        contract="RemoteOrderProxy.IOrderContract" name="WSHttpBinding_IOrderContract1">
        <identity>
          <dns value="WCFServer" />
        </identity>
      </endpoint>
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Product.Service.CustomX509CertificateValidator,Product.Service" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>